%article
  .article_inner
    .content
      %header
        %h2= @entry.title
        .meta
          %span.date published at #{@entry.date}
        %section.content
          #{raw @entry.content}
        <!-- X:S ZenBackWidget --><script type="text/javascript">document.write(unescape("%3Cscript")+" src='http://widget.zenback.jp/?base_uri=http%3A//blog.mah-lab.com&nsid=96954274717664984%3A%3A96954281160139513&rand="+Math.ceil((new Date()*1)*Math.random())+"' type='text/javascript'"+unescape("%3E%3C/script%3E"));</script><!-- X:E ZenBackWidget -->
